################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ForTheApplication
/ForTheApplication/bin
/ForTheApplication/obj
/ForTheApplication/Properties/PublishProfiles
/ForTheApplicationTests/obj
