@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-md-center">
                <h2 class="font-weight-light">Welcome</h2>
                <span class="text-sm-center font-italic">A rather rudimentary application... for an application</span>
                <hr />
            </div>
        </div>
        <div class="row col-md-12 align-items-md-start">
            <button type="submit" class="btn btn-light" id="btnLoadStuff">Load Stuff</button>
        </div>
        <div class="container"></div>
        <div class="container"></div>
    </div>
